asgiref==3.11.1
black==26.5.1
click==8.4.2
colorama==0.4.6
cssbeautifier==2.0.3
Django==6.0.5
django-allauth==65.18.0
djlint==1.40.10
EditorConfig==0.17.1
et_xmlfile==2.0.0
jsbeautifier==2.0.3
json5==0.15.0
mypy_extensions==1.1.0
numpy==2.5.1
openpyxl==3.1.5
packaging==26.2
pandas==2.3.1
pathspec==1.1.1
platformdirs==4.10.1
psycopg==3.3.4
psycopg-binary==3.3.4
python-dateutil==2.9.0.post0
pytokens==0.4.1
pytz==2026.2
PyYAML==6.0.3
regex==2026.7.19
six==1.17.0
sqlparse==0.5.5
tzdata==2026.2
whitenoise==6.5.0
