{% extends "base.html" %}

{% block title %}Medieval Architects{% endblock title %}

{% block content %}
<div class="container py-5">
    <h1>Medieval Architects</h1>
    <p>
        This is the index page
    </p>
    <p>
        Another line of text
    </p>
    <ul>
        <li>unsorted list item 1</li>
        <li>unsorted list item 2</li>
        <li>unsorted list item 3</li>
    </ul>
    <p>
        For more information, please contact the project maintainer.
    </p>
</div>
{% endblock content %}