<footer class="footer mt-auto py-3 bg-dark">
                <p class="m-0 text-center text-light">
                    {% block copyright %} 
                    MMXXVI Christopher Matthew 
                    {% endblock copyright %}
                </p>
                <p class="m-0 text-center text-light">
                    Follow us:
                    <a
                        href="https://facebook.com/"
                        target="_blank"
                        rel="noopener"
                        aria-label="Follow us on Facebook"
                    >
                        <i class="fab fa-facebook-square ms-3 text-light"></i>
                    </a>
                    <a
                        href="https://twitter.com/"
                        target="_blank"
                        rel="noopener"
                        aria-label="Follow us on Twitter"
                    >
                        <i class="fab fa-twitter-square ms-3 text-light"></i>
                    </a>
                    <a
                        href="https://instagram.com/"
                        target="_blank"
                        rel="noopener"
                        aria-label="Follow us on Instagram"
                    >
                        <i class="fab fa-instagram-square ms-3 text-light"></i>
                    </a>
                    <a
                        href="https://youtube.com/"
                        target="_blank"
                        rel="noopener"
                        aria-label="Follow us on YouTube"
                    >
                        <i class="fab fa-youtube-square ms-3 text-light"></i>
                    </a>
                </p>
            </footer>