<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-light" href="{% url 'mapper' %}">
            <span class="brand">Medieval Architects</span>
        </a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarText"
            aria-controls="navbarText"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a
                        class="nav-link text-light{% if request.path == home_url %} active{% endif %}"
                        aria-current="page"
                        href="{% url 'mapper' %}"
                        >Home</a
                    >
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link text-light{% if request.path == '/about/' %} active{% endif %}"
                        href="{% url 'about' %}"
                        >About</a
                    >
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link text-light{% if request.path == '/search/' %} active{% endif %}"
                        href="{% url 'search' %}"
                        >Detailed Search</a
                    >
                </li>
                <form class="d-flex" method="get" action="{% url 'search' %}">
                    <input
                        class="form-control me-2"
                        type="search"
                        name="q"
                        placeholder="Search buildings, people..."
                        aria-label="Search"
                    />
                    <button class="btn btn-outline-light" type="submit">
                        Search
                    </button>
                </form>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <span class="nav-link disabled text-light"
                        >Logged in as {{ user.username }}</span
                    >
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link text-light"
                        href="{% url 'account_logout' %}"
                        >Logout</a
                    >
                </li>
                {% else %}
                <li class="nav-item">
                    <span class="nav-link disabled text-light"
                        >Not Logged In</span
                    >
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link text-light"
                        href="{% url 'account_login' %}"
                        >Login</a
                    >
                </li>

                

                {% endif %}
            </ul>
        </div>
    </div>
</nav>
