/* Dark mode toggle widget styling only */

.button-con {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: 1rem;
  position: relative;
}

#dayIcon,
#nightIcon {
  position: relative;
  width: 26px;
  height: 26px;
  top: -3px;
  margin: 0 7px;
  fill: #9caec0;
  cursor: pointer;
  z-index: 5;
}

.toggle {
  display: none;
}

.toggle,
.toggle:after,
.toggle:before,
.toggle *,
.toggle *:after,
.toggle *:before,
.toggle + .toggle-button {
  box-sizing: border-box;
}

.toggle + .toggle-button {
  outline: 0;
  display: inline-block;
  width: 4em;
  height: 2em;
  position: relative;
  cursor: pointer;
  border: 2px solid var(--toggle-track);
  border-radius: 2em;
  padding: 2px;
  transition: all .2s ease;
  z-index: 10;
}

.toggle + .toggle-button:after {
  content: "";
  width: 50%;
  height: 100%;
  background: var(--toggle-knob);
  border-radius: 1em;
  position: absolute;
  left: 0;
  top: 0;
  transition: all .2s ease;
  z-index: 11;
}

.toggle:checked + .toggle-button:after {
  left: 50%;
}
